{{#each this}}
<li class="card-list">
    <div class="card-photo">
        <img class="card-photo-img" src="{{images.3.url}}" alt=""/>

        <div class="card-stats">
            <p class="name-icons">
                {{name}}
            </p>
            <p class="date-icons">
                {{dates.start.localDate}}
            </p>
            <p class="city-icons">
                {{city.name}}
            </p>            
        </div>
    </div>
</li>
{{/each}}