<section class="search">  
    <form class="searc_form js-search-form" id="search-form">
      <div class="searc_container js-search-input">
        <input class="search_form-input" type="text" name="query" autocomplete="off" placeholder="Start searching" />
        <svg class="icon-form" width='12' height='12' aria-label="Logo">
          <use class="logo" href='./images/sprite.svg#icon-search-icon'></use>
        </svg>
      </div>    
      <div class="searc_container js-search-dropdown">
        <input class="search_form-input" type="text" name="query" autocomplete="off" placeholder="Choose country" />
        <svg class="icon-form" width='15' height='10' aria-label="Logo">
          <use class="logo" href='./images/sprite.svg#icon-Polygon-1'></use>
          <use class="logo" href='./images/sprite.svg#icon-Polygon-1'></use>
        </svg>
          <!-- <button class="dropbtn">Choose country</button> -->
          <ul id="myDropdown" class="dropdown-content"></ul>
      </div>
    </form>
</section>