body {
  // position: relative;
  background: rgba(11, 11, 11, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 364px;

  @media (min-resolution: 2dppx) {
    background-image: url(/images/pic@2x-mobile.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/images/pic@1x-tablet.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url(/images/pic@2x-tablet.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    height: 446px;
    background-image: url(/images/pic@1x-comp.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url(/images/pic@2x-comp.jpg);
    }
  }
}

// .header {
//   position: relative;
// }

.main-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  @media screen and (min-width: 768px) {
    top: -30px;
    left: 0px;
  }
}

.logo {
  width: 108px;
  height: 90px;
  @media screen and (min-width: 768px) {
    width: 151px;
    height: 180px;
  }
  @media screen and (min-width: 1200px) {
    width: 239px;
    height: 202px;
  }
}

.page__header {
  background: $primeri-color;
}

.page__header-title {
  // position: absolute;
  display: flex;
  justify-content: center;
  width: 212px;
  font-family: $font-family;
  font-style: $font-style;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.23;
  text-align: center;
  color: $title-text-color;
  margin: 0 auto;
  padding-top: 78px;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-bottom: 27px;
    padding-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 52px;
  }
}
