.searc {
  //   position: relative;
  // display: block;
  // justify-content: center;
  margin: 0;
  padding: 0;
}

.searc_container {
  position: relative;
  margin-bottom: 25px;
  width: 270px;
  // height: 40px;
  margin: 0 auto;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 52px;
  }
}

.search_form-input {
  background: $input-color;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  width: 270px;
  height: 40px;
  // padding: 10px 30px;
  border: none;
}

.search_form-input::placeholder {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.25;
  color: #939393;
  padding: 10px 30px;
}

.icon-form {
  position: absolute;
  top: 14px;
  right: 30px;
}

.searc_form {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
